atomicwrites==1.4.1
attrs==22.1.0
autopep8==1.6.0
colorama==0.4.6
commonmark==0.9.1
iniconfig==1.1.1
isort==5.10.1
nodeenv==1.7.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
Pygments==2.13.0
pyparsing==3.0.9
pyright==1.1.267
pytest==7.1.1
rich==12.6.0
toml==0.10.2
tomli==2.0.1
